@charset "UTF-8";
/*--------------
	reset
--------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------
	common
--------------*/
body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  background: #FFF;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: bottom;
}

.pc_view {
  display: block !important;
}

.sp_view {
  display: none !important;
}

/*--------------
	header
--------------*/
.c_hdr_content .logo {
  text-align: center;
  padding: 10px 0 13px;
}

/*--------------
	contents
--------------*/
.main_area {
  width: 100%;
  height: 300px;
  background: #ffa1a7;
  margin-bottom: 15px;
}

.main_area .inner {
  width: 700px;
  height: 240px;
  margin: 0 auto;
  padding: 60px 0 0 500px;
  background: url(../images/main_img_00.jpg) no-repeat left center;
  color: #000000;
}

.main_area .inner span.border {
  border: 1px solid #000000;
  padding: 3px;
}

.main_area .inner h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 15px 0 8px;
  line-height: 1.5em;
}

.main_area .inner p {
  line-height: 1.5em;
}

.container {
  overflow: hidden;
  zoom: 1;
  width: 1034px;
  margin: 0 auto;
  line-height: 1.6em;
  position: relative;
  padding: 0 0 20px;
}

.container .main_content {
  float: left;
  width: 66.5%;
}

.container .main_content section {
  margin-bottom: 30px;
}

.container .main_content h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.container .main_content h3.mb10 {
  margin-bottom: 10px;
}

.container .main_content h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.container .main_content h4.mb0 {
  margin-bottom: 0;
}

.container .main_content h4.mb10 {
  margin-bottom: 10px;
}

.container .main_content p {
  margin-bottom: 22px;
}

.container .main_content p.image {
  text-align: center;
}

.container .main_content p.strong {
  font-weight: bold;
  margin-bottom: 0;
}

.container .main_content .element_list p {
  margin-bottom: 0;
}

.container .main_content .link a {
  display: block;
  border: 1px solid #e7e7e7;
  background: #f8f8f8;
  text-align: center;
  padding: 10px 0;
}

.container .main_content .link a:after {
  content: ">";
  font-size: 18px;
  float: right;
  padding-right: 15px;
  line-height: 1em;
}

.container .main_content .link a:hover {
  text-decoration: none;
}

.container .main_content ul {
  overflow: hidden;
  zoom: 1;
  width: 92.1%;
  margin: 0 auto;
}

.container .main_content ul li {
  float: left;
  width: 33.3%;
}

.container .main_content ul li .image {
  margin-bottom: 10px;
}

.container .main_content ul li .text {
  padding-right: 15px;
}

.container .main_content ul li .text strong {
  font-weight: bold;
}

.container .aside_content {
  float: right;
  width: 30%;
  margin-right: 20px;
}

.container .aside_content img {
  width: 100%;
}

.container .aside_content .course .link-btn {
  width: 87%;
  margin: -30% auto 8px;
  position: relative;
  z-index: 10;
  background: #fff;
}

.container .aside_content .course .link-btn a {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff86ac), color-stop(1, #ff3f92));
  background: -moz-linear-gradient(center top, #ff86ac 5%, #ff3f92 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff86ac', endColorstr='#ff3f92');
  background-color: #ff86ac;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 8px 0;
}

.container .aside_content .course .link-btn a:hover {
  text-decoration: none;
  opacity: .8;
}

/* 下層共通指定
----------------------------------------------- */
div#lpshoppingcolumn {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 10px 15px 10px 15px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 12px;
}

/* ヘッダー
----------------------------------------------- */
div#shoppingcolumn .head {
  margin: 5px auto;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 6px #ccc inset;
  -moz-box-shadow: 0 1px 6px #ccc inset;
  -webkit-box-shadow: 0 1px 6px #ccc inset;
  background: #F9F9F9;
}

div#shoppingcolumn .subhead {
  margin: 5px auto;
  font-size: 12px;
  font-weight: nomal;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0 1px 6px #ccc;
}

div#shoppingcolumn .t_cartin {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_cart.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_login {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_login.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_nomem {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_privacy.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_payment {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_deli.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_conf {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_cate_head.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_comp {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_comp.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_method {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_method.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_time {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_time.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_e_contact {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_contact.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_point {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_point.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_inpday {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_time.png") no-repeat 2% 48%;
}

div#shoppingcolumn .t_deliv {
  padding: 8px 44px;
  color: #000;
  background: url("../img/icon/icon_deli.png") no-repeat 2% 48%;
}

div#shoppingcolumn table {
  width: 950px;
}

div.area_cont {
  width: 900px;
  margin: 0 auto;
}

/* h3
----------------------------------------------- */
div#shoppingcolumn .have {
  margin: 0 0;
  padding: 10px 10px 10px 40px;
  color: #000;
  font-wight: bold;
  font-size: 14px;
  background: url("../img/icon/icon_head.png") no-repeat 1% 50%;
}

div#shoppingcolumn .d_have {
  margin: 0 0;
  padding: 10px 10px 10px 40px;
  color: #000;
  font-wight: bold;
  font-size: 14px;
  background: url("../img/icon/icon_head.png") no-repeat 1% 50%;
}

/* Cart Table
----------------------------------------------- */
div#shoppingcolumn table {
  width: 100%;
  margin: 15px auto 0 auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-collapse: collapse;
  text-align: left;
}

div#shoppingcolumn table th {
  padding: 8px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: black;
  background: #f0f0f0;
  font-weight: normal;
}

div#shoppingcolumn table td {
  padding: 8px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

/* カートの中
----------------------------------------------- */
.totalmoneyarea {
  width: 90%;
  margin: 15px auto 0 auto;
  padding: 5% 1%;
  border: 1px solid #ccc;
  text-align: center;
}

div#shoppingcolumn_cart th {
  text-align: center;
}

div#shoppingcolumn table th.resulttd {
  text-align: right;
}

div#shoppingcolumn td#quantity {
  text-align: center;
  width: 70px;
}

div#shoppingcolumn ul#quantity_level li {
  display: inline;
  padding: 3px;
}

div#shoppingcolumn .empty {
  text-align: center;
}

/* お客様情報入力
----------------------------------------------- */
.flowarea {
  margin: 20px auto;
  padding: 5px;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 6px #ccc inset;
  -moz-box-shadow: 0 1px 6px #ccc inset;
  -webkit-box-shadow: 0 1px 6px #ccc inset;
}

.flowarea ul {
  clear: both;
}

.flowarea li {
  padding: 5px 30px 5px 5px;
  float: left;
  background: url("../img/icon/icon_guide.png") no-repeat 96% 50%;
}

.flowarea .inon {
  padding: 5px 30px 5px 5px;
  float: left;
  background: none;
}

.flowarea .txt_green {
  color: #60cb26;
}

div#shoppingcolumn_customer th em {
  color: #000;
  font-weight: bold;
}

div#shoppingcolumn_customer .box120 {
  width: 120px;
  padding: 2px;
  border: 1px solid #ccc;
}

div#shoppingcolumn_customer .box60 {
  width: 60px;
  padding: 2px;
  border: 1px solid #ccc;
}

div#shoppingcolumn_customer .box380 {
  width: 380px;
  margin: 5px 0 0 0;
  padding: 2px;
  border: 1px solid #ccc;
}

div#shoppingcolumn_customer .box320 {
  width: 320px;
  margin: 5px 0 0 0;
  padding: 2px;
  border: 1px solid #ccc;
}

div#shoppingcolumn_customer .zipimg img {
  margin: 5px 0 0 0;
}

/* お届け先指定
----------------------------------------------- */
/*
div#shoppingcolumn_shopping table th {
text-align: center;
}
*/
.addbtn {
  margin: 10px 0 0 0;
}

.deli_word {
  padding: 10px;
}

/* お届け時間・日程の指定
----------------------------------------------- */
.shopping_calendar {
  width: 94%;
  margin: 1%;
  padding: 2%;
  border-bottom: 1px dotted #999;
  border-top: 1px dotted #999;
  overflow: hidden;
  float: left;
}

/* お支払い方法・お届け時間等の指定
----------------------------------------------- */
div#shoppingcolumn_shopping .payarea {
  margin: 0 auto;
}

div#shoppingcolumn_shopping h3 {
  margin: 0 0 15px 0;
}

div#shoppingcolumn_shopping .payarea02 {
  margin: 40px auto 0 auto;
}

div#shoppingcolumn_shopping .payarea02 div {
  margin: 10px 0 0 0;
}

div#shoppingcolumn_shopping .payarea02 em {
  font-weight: bold;
  color: #000;
}

div#shoppingcolumn_shopping .payarea table th {
  text-align: center;
}

div#shoppingcolumn_shopping .payarea02 .area660 {
  width: 100%;
  margin: 5px auto;
  padding: 2px;
  border: 1px solid #ccc;
}

div#shoppingcolumn_shopping .pointarea {
  margin: 40px auto 0 auto;
}

div#shoppingcolumn_shopping .pointarea ul {
  margin: 10px auto;
  width: 50%;
}

div#shoppingcolumn_shopping .pointarea li {
  text-align: left;
  padding: 2px 10px;
}

div#shoppingcolumn_shopping .pointarea li.underline {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 7px;
}

/* 確認
----------------------------------------------- */
div#shoppingcolumn_shopping table.delivname thead th {
  width: 70%;
  text-align: left;
  font-weight: bold;
}

div#shoppingcolumn_shopping table.delivname tbody th {
  text-align: left;
  width: 155px;
}

div#shoppingcolumn_shopping table.delivname td {
  text-align: left;
  width: 55%;
}

/* 決済モジュール(決済情報入力画面)
----------------------------------------------- */
div#shoppingcolumn_shopping .box60 {
  width: 60px;
  padding: 2px;
  border: 1px solid #ccc;
}

div#shoppingcolumn_shopping .box120 {
  width: 120px;
  padding: 2px;
  border: 1px solid #ccc;
}

/* ログイン
----------------------------------------------- */
div#shoppingcolumn .loginarea {
  width: 440px;
  height: 370px;
  margin: 10px 5px;
  padding: 10px;
  float: left;
  min-height: 360px;
  box-shadow: 0 2px 4px #ccc;
  -webkit-box-shadow: 0 2px 4px #ccc;
  -moz-box-shadow: 0 2px 4px #ccc;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

div#shoppingcolumn .loginarea .inputtext {
  margin: 15px auto;
}

div#shoppingcolumn .loginarea .inputtext02 {
  margin: 15px auto 0 auto;
  font-size: 90%;
  float: left;
}

div#shoppingcolumn .loginarea .inputbox {
  width: 360px;
  margin: 15px auto;
  padding: 15px 20px;
  background: #f0f0f0;
}

div#shoppingcolumn .loginarea .inputbox .passwd {
  margin: 15px 0 0 0;
}

div#shoppingcolumn .loginarea .inputbox .box250 {
  width: 250px;
  margin: 5px 0 0 0;
  padding: 2px;
  border: 1px solid #ccc;
}

div#shoppingcolumn .loginarea .inputbox .box275 {
  width: 275px;
  margin: 5px 0 0 0;
  padding: 2px;
  border: 1px solid #ccc;
}

div#shoppingcolumn .loginarea .inputbox02 {
  width: 460px;
  margin: 15px auto 0 auto;
  padding: 15px 20px;
  text-align: center;
}

/* エラー
----------------------------------------------- */
div#shoppingcolumn_error .messagearea {
  margin: 15px auto 0 auto;
  padding: 10px 5px;
  border: 5px solid #ccc;
  text-align: center;
}

div#shoppingcolumn_error .messagearea .error {
  padding: 120px 0;
}

/* 共通設定
----------------------------------------------- */
#product_id {
  font-size: 1.3em;
  font-weight: bold;
}

#quantity {
  font-size: 1.3em;
  font-weight: bold;
}

select {
  float: none;
}

/*幅
----------------------------------------------- */
#lpshoppingcolumn .w10 {
  width: 10%;
}

#lpshoppingcolumn .w20 {
  width: 20%;
}

#lpshoppingcolumn .w30 {
  width: 30%;
}

#lpshoppingcolumn .w50 {
  width: 50%;
}

#lpshoppingcolumn .w70 {
  width: 70%;
}

#lpshoppingcolumn .w80 {
  width: 80%;
}

#lpshoppingcolumn .w90 {
  width: 90%;
}

#lpshoppingcolumn .w95 {
  width: 95%;
}

#lpshoppingcolumn .w98 {
  width: 98%;
}

#lpshoppingcolumn .w100 {
  width: 100%;
}

/*区切り線
----------------------------------------------- */
.lp-bottomline {
  border-top: 1px solid #222;
  margin-top: 10px;
  padding: 0 0 10px 0;
}

.lp-bottomline02 {
  border-top: 1px solid #222;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}

.lp-bottomline03 {
  border-bottom: 1px solid #222;
  margin-bottom: 10px;
  padding: 0 0 10px 0;
}

.lp-bottomline04 {
  border-bottom: 1px dotted #222;
  margin-bottom: 10px;
  padding: 10px 0;
}

.lp-bottomline05 {
  border-top: 1px solid #222;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 0 0;
}

/*回り込み
----------------------------------------------- */
.fl30 {
  float: left;
  width: 30%;
}

.fl40 {
  float: left;
  width: 40%;
}

.fl50 {
  float: left;
  width: 50%;
}

.fl60 {
  float: left;
  width: 60%;
}

.fl66 {
  float: left;
  width: 66%;
}

.fl70 {
  float: left;
  width: 70%;
}

/*回り込み解除
----------------------------------------------- */
#lpshoppingcolumnn .clear {
  clear: both;
}

/*間隔
----------------------------------------------- */
#lpshoppingcolumn .pdr10 {
  padding: 0 10px 0 0;
}

#lpshoppingcolumn .pdr20 {
  padding: 0 20px 0 0;
}

#lpshoppingcolumn .pdrc50 {
  padding: 0 0 0 50px;
  color: #ff0000;
  font-size: 14px;
  font-weight: normal;
}

#lpshoppingcolumn .pdt5 {
  padding: 5px 0 0 0;
}

#lpshoppingcolumn .pdt10 {
  padding: 10px 0 0 0;
}

#lpshoppingcolumn .pdt15 {
  padding: 15px 0 0 0;
}

#lpshoppingcolumn .pdt20 {
  padding: 20px 0 0 0;
}

#lpshoppingcolumn .pdt30 {
  padding: 30px 0 0 0;
}

#lpshoppingcolumn .mgt10 {
  margin-top: 10px;
}

#lpshoppingcolumn .mgt20 {
  margin-top: 20px;
}

#lpshoppingcolumn .mgb10 {
  margin-bottom: 10px;
}

#lpshoppingcolumn .mgtb10 {
  margin: 10px 0;
}

/*フォント
----------------------------------------------- */
#lpshoppingcolumn h1 {
  margin: 5px 0;
  font-size: 1.2em;
  padding: 7px;
  background: #222;
  color: #fff;
  text-align: left;
  width: 100%;
}

#lpshoppingcolumn h2 {
  margin: 5px 0;
  font-size: 1.2em;
  padding: 7px;
  background: #222;
  color: #fff;
  text-align: left;
  width: 100%;
}

#lpshoppingcolumn h3 {
  margin: 15px 0 0 0;
  font-size: 1.2em;
  padding: 7px;
  color: #333;
  text-align: left;
  border-bottom: 2px solid #333;
  width: 100%;
}

#lpshoppingcolumn h4 {
  margin: 0;
  font-size: 1.2em;
  padding: 0;
  color: #333;
  text-align: left;
  border-bottom: 2px solid #333;
  width: 100%;
}

#lpshoppingcolumn p {
  font-size: 1em;
}

/*フォントサイズ
----------------------------------------------- */
#lpshoppingcolumn .txt_sz {
  margin-top: 15px;
  letter-spacing: 0em;
  font-size: 1.1em;
  font-weight: 500;
}

#lpshoppingcolumn .txt_b {
  font-weight: 700;
  font-size: 1em;
  padding: 0 0 3px 0;
}

#lpshoppingcolumn .ft_s {
  font-size: 1em;
  padding: 5px;
  margin: 0;
  text-align: center;
  font-weight: normal;
}

#lpshoppingcolumn .ft_s02 {
  font-size: 1.2em;
  padding: 5px;
  margin: 0;
}

#lpshoppingcolumn .ft_s03 {
  font-size: 1em;
  padding: 10px 0 5px 0;
  margin: 0 0 10px 0;
  font-weight: 700;
}

#lpshoppingcolumn .ft_s04 {
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
  line-height: 2em;
  font-size: 1.2em;
  color: #333;
  text-align: center;
}

#lpshoppingcolumn .ft_s05 {
  font-size: 1em;
  line-height: 1.5em;
}

#lpshoppingcolumn .mgs {
  margin-right: 10px;
  font-weight: 700;
}

/*ボタン
----------------------------------------------- */
#lpshoppingcolumn .register_btn {
  display: block;
  width: 60%;
  border: 1px solid #aaa;
  background: #eee !important;
  padding: 15px 0;
  color: #333;
  text-align: center;
  font-weight: bold;
  margin: 20px auto 10px auto;
  font-size: 1.2em;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#lpshoppingcolumn .deliv_btn {
  display: block;
  width: 60%;
  border: 1px solid #aaa;
  background: #eee !important;
  padding: 15px 0;
  color: #333;
  text-align: center;
  font-weight: bold;
  margin: 10px auto;
  font-size: 1.2em;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#lpshoppingcolumn .calendar_btn {
  margin: 0;
  padding: 7px 14px;
  background: #eee !important;
  color: #333;
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  border: 1px solid #666;
}

/* フォーム
----------------------------------------------- */
#lpshoppingcolumn {
  width: 1000px;
  margin: 30px auto;
  padding: 2%;
  font-size: 1em;
  border: 2px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  /*
    width: 88%;
    margin: 0 auto;
    font-size: 1em;
    overflow: hidden;*/
}

#lpshoppingcolumn table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: left;
}

#lpshoppingcolumn table th {
  padding: 15px 25px 15px 8px;
  margin: 0;
  border-bottom: 1px dashed #1e1e1e;
  color: #333;
  font-weight: bold;
  text-align: left;
  font-size: 14px;
  overflow: hidden;
}

#lpshoppingcolumn table td {
  padding: 15px 0;
  font-size: 1.1em;
  border-bottom: 1px dashed #1e1e1e;
  overflow: hidden;
}

.attention1 {
  color: #ff0000;
  width: 90%;
  font-size: 10px;
  font-weight: normal;
  padding: 2px 8px 0 8px;
  line-height: 1.7;
  margin: 0 10px 0 0;
}

/* 定期カレンダー
----------------------------------------------- */
#lpshoppingcolumn #block-calendar {
  width: 28%;
  float: left;
  margin: 0 2% 2%;
}

#lpshoppingcolumn #block-calendar caption {
  color: #333;
  padding: 10px;
  font-size: 1.2em;
}

#lpshoppingcolumn #block-calendar table {
  margin: 0;
}

#lpshoppingcolumn #block-calendar table th {
  background: #eeeeee !important;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #ccc !important;
}

#lpshoppingcolumn #block-calendar table td {
  padding: 2px !important;
  font-size: 1.2em;
  text-align: center;
  border: 1px solid #ccc !important;
}

/* id
----------------------------------------------- */
#lpshoppingcolumn #regular_product_area {
  font-size: 100%;
  color: #ff0000;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* クラス
----------------------------------------------- */
.input_error {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  background: red;
  color: white;
}

.lp_button {
  padding: 10px 14px;
  background: #212121 !important;
  border: 1px solid #CCC;
  font-size: 1.1em;
  color: #fff;
  font-weight: bold;
}

.lp_button_submit {
  line-height: 3em !important;
  font-size: 24px;
  font-weight: bold;
}

.lp_submit_area {
  display: block;
  margin: 20px 0;
}

.lp_submit_area li {
  width: 380px;
  margin: 0 auto;
  /* padding: 5px; */
  text-align: center;
  line-hegiht: 24px;
}

.lp_submit_area li a:hover {
  display: block;
  background-image: url(../images/green_bt_on.png);
  text-decoration: none;
}

.lp_submit_area li a {
  display: block;
  background-image: url(../images/green_bt_off.png);
  text-decoration: none;
}

#lpshoppingcolumn .claer {
  clear: both;
}

#lpshoppingcolumn .required {
  float: right;
  color: red;
  font-weight: bold;
}

#lpshoppingcolumn .kiyaku {
  width: 98%;
  margin: 0 auto;
  height: 180px;
}

#lpshoppingcolumn .subhead {
  padding-left: 10px;
}

/*インプットタイプ
----------------------------------------------- */
#lpshoppingcolumn input[type="radio"], input[type="checkbox"] {
  font-size: x-large;
  width: 25px;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
      transform: scale(1.5);
  padding: 0;
  box-sizing: border-box;
  margin-left: 10px;
}

#lpshoppingcolumn input[type="text"] {
  padding: 10px;
  border: #999 1px solid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1.1em;
}

#lpshoppingcolumn input[type="tel"] {
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1.1em;
}

#lpshoppingcolumn input[type="email"],
#lpshoppingcolumn input[type="password"] {
  padding: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 1.1em;
}

#lpshoppingcolumn textarea {
  width: 95%;
  height: 100px;
  padding: 5px;
  font-size: 1.1em;
}

#lpshoppingcolumn placeholder {
  font-size: 1.1em;
}

/*誕生月
----------------------------------------------- */
.lp-birthday ul {
  width: 100%;
}

.lp-birthday li {
  width: 25%;
  float: left;
}

/*エラー*/
.lp-error {
  display: block;
  color: white;
  background: red;
}

/*フォントカラー
----------------------------------------------- */
.lp_red {
  background: #ffffd9;
  margin: 10px 0 0 0;
  padding: 5px 0 5px 5px;
  color: #333;
}

/*セレクト共通
----------------------------------------------- */
form .custom-select {
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid #c8c8c8;
  vertical-align: middle;
  z-index: 1;
  box-sizing: border-box;
}

form .custom-select:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  padding: 0 0.35em;
  background: #b8b8b8 url(../images/select_arrow_sml.png) no-repeat center center;
  text-align: center;
  content: '';
  border-left: 1px solid #aaa;
  z-index: 1;
  pointer-events: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px ３px 0px rgba(0, 0, 0, 0.3);
}

form .custom-select select {
  display: block;
  width: 100%;
  padding: 5px 10px 5px 2px !important;
  height: 36px;
  margin: 0;
  background-color: transparent;
  border: 0 none;
  line-height: normal;
  box-shadow: none;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1.1em;
}

/*誕生月セレクト*/
form .birth-select {
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid #aaa;
  vertical-align: middle;
  z-index: 1;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0;
}

form .birth-select:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  padding: 0px;
  background: url("../img/common/select_arrow_sml.png") no-repeat scroll center center #b8b8b8;
  text-align: center;
  content: "";
  z-index: 1;
  border-left: 1px solid #aaa;
  pointer-events: none;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

form .birth-select select {
  display: block;
  width: 100px;
  height: 40px;
  margin: 0px;
  padding: 5px 0 5px 0.25em !important;
  background-color: transparent;
  border: 0px none;
  line-height: normal;
  box-shadow: none;
  box-sizing: border-box;
  -moz-appearance: none;
  font-size: 1.1em;
}

/*セレクト共通2*/
form .custom-select2 {
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid #aaa;
  vertical-align: middle;
  z-index: 1;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0;
}

form .custom-select2:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  padding: 0 0.35em;
  background: #fff url(../img/common/select_arrow_sml2.png) no-repeat center center;
  text-align: center;
  content: '';
  z-index: 1;
  pointer-events: none;
}

form .custom-select2 select {
  display: block;
  width: 150px;
  padding: 0px 13px 0 2px !important;
  height: 25px;
  margin: 0;
  background-color: transparent;
  border: 0 none;
  line-height: normal;
  box-shadow: none;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1.1em;
}

/*セレクト共通3*/
form .custom-select3 {
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid #aaa;
  vertical-align: middle;
  z-index: 1;
  box-sizing: border-box;
  margin: 5px 0;
  padding: 0;
}

form .custom-select3:before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  padding: 0 0.35em;
  background: #fff url(../img/common/select_arrow_sml2.png) no-repeat center center;
  text-align: center;
  content: '';
  z-index: 1;
  pointer-events: none;
}

form .custom-select3 select {
  display: block;
  width: 150px;
  padding: 0px 13px 0 2px !important;
  height: 30px;
  margin: 0;
  background-color: transparent;
  border: 0 none;
  line-height: normal;
  box-shadow: none;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1.1em;
}

/*定期購入セレクト*/
form .register-select {
  display: inline-block;
  position: relative;
  background-color: white;
  border: 1px solid #c8c8c8;
  vertical-align: middle;
  z-index: 1;
  box-sizing: border-box;
}

form .register-select :before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  padding: 0 0.35em;
  background: #222000 url(../img/common/select_arrow_sml.png) no-repeat center;
  text-align: center;
  content: '';
  z-index: 1;
  pointer-events: none;
}

form .register-select select {
  display: block;
  width: 100%;
  padding: 0 50px 0 5px;
  height: 36px;
  margin: 0;
  background-color: transparent;
  border: 0 none;
  line-height: normal;
  box-shadow: none;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 1em;
}

/*その他セレクト*/
#lpshoppingcolumnn select {
  border: none;
  display: block;
  height: 36px;
  margin: 0;
  background-color: transparent;
  border: 0 none;
  line-height: normal;
  box-shadow: none;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/*郵便番号
----------------------------------------------- */
.lp-zipcode {
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  display: block;
}

#lpshoppingcolumn .zip_button {
  display: inline-block;
  padding: 10px 0px;
  border: none;
  background: #1e1e1e;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  vertical-align: middle;
}

.lp-classcategory {
  padding: 5px;
  margin: 0 0 10px 0;
  width: 96%;
  border: 1px solid #ccc;
}

/*必須*/
.lp-required {
  border-radius: 100px;
  background: #f00;
  color: #fff;
  font-size: 10px;
  font-weight: normal;
  padding: 2px 7px;
  margin: 0 auto;
  float: right;
}

#lpshoppingcolumn_box {
  width: 98%;
  margin: 10px auto;
  font-size: 1em;
  border: 1px dashed #333;
  padding: 1%;
}

#lpshoppingcolumn .regular_deliv_day {
  padding: 0 30px 0 10px;
  font-size: 15px;
  font-weight: bold;
}

.deliv_other {
  background-color: #eef5fb;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.focus {
  background-color: #fff0f5;
}

@media screen and (max-width: 1200px) {
  .main_area {
    width: 100%;
    height: auto;
    background: #ffa1a7;
    margin-bottom: 15px;
  }
  .main_area .inner {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0 30px 50%;
    background: url(../images/main_img_00.jpg) no-repeat left center;
    background-size: contain;
    color: #000000;
  }
  .main_area .inner span.border {
    border: 1px solid #000000;
    padding: 3px;
  }
  .main_area .inner span.block {
    display: block;
  }
  .main_area .inner h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 13px 0 8px;
    line-height: 1.5em;
  }
  .main_area .inner p {
    font-size: 12px;
    line-height: 1.5em;
  }
  .container {
    width: 90%;
  }
  .container img {
    width: 100%;
  }
  #lpshoppingcolumn {
    width: 90%;
  }
}

@media screen and (max-width: 960px) {
  .main_area {
    height: auto;
    padding: 30px 3%;
    box-sizing: border-box;
  }
  .main_area .inner {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: none;
  }
  .main_area h2 {
    font-size: 18px;
  }
  .main_area p {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .pc_view {
    display: none !important;
  }
  .sp_view {
    display: block !important;
  }
  .c_hdr_content {
    width: 104px;
    margin: 0 auto;
  }
  .c_hdr_content img {
    width: 100%;
    height: auto;
  }
  .container {
    overflow: hidden;
    zoom: 1;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6em;
    position: relative;
    padding: 0 0 20px;
  }
  .container .main_content {
    float: none;
    width: 94%;
    margin: 0 auto;
    font-size: 12px;
  }
  .container .main_content section {
    margin-bottom: 30px;
  }
  .container .main_content h3 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .container .main_content h3.mb10 {
    margin-bottom: 10px;
  }
  .container .main_content h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .container .main_content p {
    margin-bottom: 20px;
  }
  .container .main_content p.image {
    text-align: center;
  }
  .container .main_content p.strong {
    font-weight: bold;
    margin-bottom: 0;
  }
  .container .main_content .element_list p {
    margin-bottom: 0;
  }
  .container .main_content .link a {
    display: block;
    border: 1px solid #e7e7e7;
    background: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
  }
  .container .main_content .link a:after {
    content: ">";
    font-size: 18px;
    float: right;
    padding-right: 15px;
    line-height: 1em;
  }
  .container .main_content .link a:hover {
    text-decoration: none;
  }
  .container .main_content ul {
    overflow: hidden;
    zoom: 1;
    width: 100%;
    margin: 0 auto;
  }
  .container .main_content ul li {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
  .container .main_content ul li .text {
    padding-right: 0px;
  }
  .container .main_content ul li .text strong {
    font-weight: bold;
    display: block;
  }
  .container .aside_content {
    float: none;
    width: 94%;
    margin: 0 auto 20px;
    position: relative !important;
    top: auto !important;
  }
  .container .aside_content img {
    width: 100%;
  }
  .container .aside_content .course .link-btn {
    width: 44%;
    margin: 0;
    position: absolute;
    top: 73.5%;
    left: 50%;
  }
  .container .aside_content .course .link-btn a {
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff86ac), color-stop(1, #ff3f92));
    background: -moz-linear-gradient(center top, #ff86ac 5%, #ff3f92 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff86ac', endColorstr='#ff3f92');
    background-color: #ff86ac;
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding: 1% 0;
  }
  .container .aside_content .course .link-btn a:hover {
    text-decoration: none;
  }
  .container .aside_content .bnr {
    margin-top: 9px;
  }
}
