@charset "UTF-8";
/*--------------
	reset
--------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------
	common
--------------*/
body {
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  background: #FFF;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: bottom;
}

.pc_view {
  display: block !important;
}

.sp_view {
  display: none !important;
}

/*--------------
	header
--------------*/
.c_hdr_content .logo {
  text-align: center;
  padding: 10px 0 13px;
}

/*--------------
	contents
--------------*/
.main_area {
  width: 100%;
  height: 300px;
  background: #ffeff0;
  margin-bottom: 15px;
}

.main_area .inner {
  width: 700px;
  height: 240px;
  margin: 0 auto;
  padding: 60px 0 0 500px;
  background: url(../images/main_img_00.png) no-repeat left center;
  color: #e9585d;
}

.main_area .inner span.border {
  border: 1px solid #e9585d;
  padding: 3px;
}

.main_area .inner h2 {
  font-weight: bold;
  font-size: 24px;
  margin: 13px 0 8px;
  line-height: 1.5em;
}

.main_area .inner p {
  line-height: 1.5em;
}

.container {
  overflow: hidden;
  zoom: 1;
  width: 1034px;
  margin: 0 auto;
  line-height: 1.6em;
  position: relative;
  padding: 0 0 20px;
  /* フォームタイトル */
  /* お支払い方法タイトル */
  /* 数量選択 */
  /* 申し込むフォーム */
  /*個別変更*/
  /* 申し込むフォーム同意 */
  /* 申し込むフォームボタン */
}

.container .main_content {
  float: left;
  width: 66.5%;
}

.container .main_content section {
  margin-bottom: 30px;
}

.container .main_content h3 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.container .main_content h3.mb10 {
  margin-bottom: 10px;
}

.container .main_content h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

.container .main_content p {
  margin-bottom: 20px;
}

.container .main_content p.image {
  text-align: center;
}

.container .main_content p.strong {
  font-weight: bold;
  margin-bottom: 0;
}

.container .main_content p .strong {
  font-weight: bold;
}

.container .main_content .element_list p {
  margin-bottom: 0;
}

.container .main_content .link a {
  display: block;
  border: 1px solid #e7e7e7;
  background: #f8f8f8;
  text-align: center;
  padding: 10px 0;
}

.container .main_content .link a:after {
  content: ">";
  font-size: 18px;
  float: right;
  padding-right: 15px;
  line-height: 1em;
}

.container .main_content .link a:hover {
  text-decoration: none;
}

.container .main_content ul {
  overflow: hidden;
  zoom: 1;
  width: 92.1%;
  margin: 0 auto;
}

.container .main_content ul li {
  float: left;
  width: 33.3%;
}

.container .main_content ul li .text {
  padding-right: 15px;
}

.container .main_content ul li .text strong {
  font-weight: bold;
  display: block;
}

.container .aside_content {
  float: right;
  width: 30%;
  margin-right: 20px;
}

.container .aside_content img {
  width: 100%;
}

.container .aside_content .course .link-btn {
  width: 94%;
  margin: -36% auto 0;
}

.container .aside_content .course .link-btn a {
  display: block;
  color: #fff;
  font-size: 17px;
  text-align: center;
  padding: 10px 0;
}

.container .aside_content .course .link-btn a:hover {
  text-decoration: none;
}

.container #form_landing {
  width: 640px;
  margin: 30px auto;
  font-size: 13px;
  line-height: 1.3em;
  background-color: #ffffff;
  text-align: left;
}

.container #form_landing p {
  margin-bottom: 0;
}

.container h2#form_checkout_title {
  background-color: #f6dbdb;
  border-left: 5px solid #a0131a;
  color: #fffff;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 8px 8px 15px;
  margin: 0 0 15px;
}

.container h2#form_payment_title {
  background-color: #f6dbdb;
  border-left: 5px solid #a0131a;
  color: #fffff;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 8px 8px 15px;
  margin: 40px 0 0 0;
}

.container table#product_qty {
  width: 640px;
  height: 100px;
  border-collapse: collapse;
  border: 1px solid #C3C3C3;
  margin: 0 0 30px;
}

.container #product_qty tr {
  border-bottom: 1px solid #C3C3C3;
  line-height: 18px;
  text-align: left;
}

.container #product_qty th {
  padding: 5px;
  border-right: 1px solid #C3C3C3;
  background-color: #eeeeee;
}

.container #product_qty td {
  padding: 5px;
  width: 550px;
}

.container #form_checkout_message {
  width: 640px;
  text-align: left;
}

.container #landing_form {
  width: 638px;
  border-top: 1px solid #C3C3C3;
  border-left: 1px solid #C3C3C3;
  border-right: 1px solid #C3C3C3;
  border-bottom: none;
}

.container .form_box {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -webkit-box;
  /*--- Androidブラウザ用 ---*/
  display: -ms-flexbox;
  /*--- IE10 ---*/
  /*--- safari（PC）用 ---*/
  display: flex;
  -ms-flex-flow: row;
  /*--- IE10用 ---*/
  -webkit-flow: row;
  /*--- safari（PC）用 ---*/
  -ms-flex-flow: row;
      flex-flow: row;
  /* 縦方向中央揃え（Safari用） */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* 縦方向中央揃え */
  border-bottom: 1px solid #C3C3C3;
}

.container .form_box_label {
  width: 180px;
  padding: 20px 5px;
  border-right: 1px solid #C3C3C3;
  background-color: #eeeeee;
  -ms-flex-flex-item-align: stretch;
  /*--- IE10 ---*/
  /*--- safari（PC）用 ---*/
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.container .form_box_label span.form_required {
  margin: 0 0 0 5px;
}

.container .form_input_box {
  padding: 15px 5px;
}

.container .form_input_box p,
.container .form_input_box input {
  display: inline;
}

.container .form_example p {
  width: 200px;
  font-size: 10px;
}

.container .ureru_efo_family_name,
.container .ureru_efo_given_name,
.container .ureru_efo_family_kana,
.container .ureru_efo_given_kana {
  width: 9em;
}

.container .form_input_box p.form_cap {
  font-size: 12px;
}

.container .credit_box {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -ms-flexbox;
  display: -o-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
}

.container .credit_title {
  font-weight: bold;
  margin: 0 5px 0 0;
}

.container #form_payment_method_select {
  margin: 10px 10px 10px 10px;
  padding-left: 5px;
}

.container input.tel_no {
  width: 4em;
}

.container input#OrderBirthdayYear {
  width: 4em;
}

.container input.zip1 {
  width: 3em;
}

.container input.zip2 {
  width: 4em;
}

.container input.email {
  width: 14em;
}

.container span.form_required {
  color: #a0131a;
}

.container #OrderSex1 {
  margin: 0 0 0 10px;
}

.container #form_payment_method_credit_form table tr th {
  text-align: left;
}

.container #agreement {
  clear: both;
  width: 620px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
}

.container #agreement .form_notice {
  color: #a0131a;
  font-weight: bold;
}

.container input#form_btn {
  background: url(../images/btn-lp-off.gif) no-repeat 0 0;
  background-size: 100% auto;
  width: 60%;
  height: 0;
  padding-top: 17.18%;
  border: none;
  text-indent: -9999px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.container .error-message {
  color: #cc0000;
}

.container #confirm_button_disable {
  margin: 0 auto;
  text-align: center;
  width: 640px;
}

.container #confirm_button_disable img {
  width: 370px;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .main_area {
    width: 100%;
    height: auto;
    background: #ffeff0;
    margin-bottom: 15px;
  }
  .main_area .inner {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0 30px 350px;
    background: url(../images/main_img_00.png) no-repeat left center;
    background-size: contain;
    color: #e9585d;
  }
  .main_area .inner span.border {
    border: 1px solid #e9585d;
    padding: 3px;
  }
  .main_area .inner span.block {
    display: block;
  }
  .main_area .inner h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 13px 0 8px;
    line-height: 1.5em;
  }
  .main_area .inner p {
    font-size: 12px;
    line-height: 1.5em;
  }
  .container {
    width: 90%;
    /* フォームタイトル */
    /* お支払い方法タイトル */
    /* 数量選択 */
    /* 申し込むフォーム */
    /*個別変更*/
    /* 申し込むフォーム同意 */
    /* 申し込むフォームボタン */
  }
  .container img {
    width: 100%;
  }
  .container #form_landing {
    width: 100%;
    margin: 15px auto;
    background-color: #ffffff;
    text-align: left;
  }
  .container h2#form_checkout_title {
    background-color: #f6dbdb;
    border-left: 5px solid #a0131a;
    color: #fffff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 8px 8px 15px;
    margin: 0 0 15px;
  }
  .container h2#form_payment_title {
    background-color: #f6dbdb;
    border-left: 5px solid #a0131a;
    color: #fffff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 8px 8px 15px;
    margin: 40px 0 0 0;
  }
  .container table#product_qty {
    width: 100%;
    height: 100px;
    border-collapse: collapse;
    border: 1px solid #C3C3C3;
    margin: 0 0 30px;
  }
  .container #product_qty tr {
    border-bottom: 1px solid #C3C3C3;
    line-height: 18px;
    text-align: left;
  }
  .container #product_qty th {
    padding: 5px;
    border-right: 1px solid #C3C3C3;
    background-color: #eeeeee;
  }
  .container #product_qty td {
    padding: 5px;
    width: 50%;
  }
  .container #form_checkout_message {
    width: 100%;
    text-align: left;
  }
  .container #landing_form {
    width: 100%;
    border-top: 1px solid #C3C3C3;
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-bottom: none;
  }
  .container .form_box {
    display: block;
    border-bottom: 1px solid #C3C3C3;
  }
  .container .form_box_label {
    width: 100%;
    padding: 10px 5px;
    border-right: none;
    background-color: #eeeeee;
    box-sizing: border-box;
  }
  .container .form_box_label span.form_required {
    margin: 0 0 0 5px;
  }
  .container .form_input_box {
    padding: 8px 5px;
    border-bottom: 1px solid #c3c3c3;
  }
  .container .form_example {
    padding: 8px 5px;
  }
  .container .form_input_box p {
    display: inline;
  }
  .container .form_input_box input, .container .form_input_box select {
    display: inline;
    border: 1px solid #c3c3c3;
  }
  .container .form_example p {
    width: 100%;
    box-sizing: border-box;
    font-size: 10px;
  }
  .container .ureru_efo_family_name,
  .container .ureru_efo_given_name,
  .container .ureru_efo_family_kana,
  .container .ureru_efo_given_kana {
    width: 9em;
  }
  .container .form_input_box p.form_cap {
    font-size: 12px;
  }
  .container .credit_box {
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
  .container .credit_title {
    font-weight: bold;
    margin: 0 5px 0 0;
  }
  .container #form_payment_method_select {
    margin: 10px 10px 10px 10px;
    padding-left: 5px;
  }
  .container input.tel_no {
    width: 4em;
  }
  .container input#OrderBirthdayYear {
    width: 4em;
  }
  .container input.zip1 {
    width: 3em;
  }
  .container input.zip2 {
    width: 4em;
  }
  .container input.email {
    width: 14em;
  }
  .container span.form_required {
    color: #a0131a;
  }
  .container #OrderSex1 {
    margin: 0 0 0 10px;
  }
  .container #form_payment_method_credit_form table tr th {
    text-align: left;
  }
  .container #agreement {
    clear: both;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
  }
  .container #agreement .form_notice {
    color: #a0131a;
    font-weight: bold;
  }
  .container input#form_btn {
    background: url(../images/btn-lp-off.gif) no-repeat 0 0;
    background-size: 100% auto;
    width: 60%;
    height: 0;
    padding-top: 17.18%;
    border: none;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  .container .error-message {
    color: #cc0000;
  }
  .container #confirm_button_disable {
    margin: 0 auto;
    text-align: center;
    width: 640px;
  }
  .container #confirm_button_disable img {
    width: 370px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .pc_view {
    display: none !important;
  }
  .sp_view {
    display: block !important;
  }
  .main_area {
    height: auto;
    padding: 30px 3%;
    box-sizing: border-box;
  }
  .main_area .inner {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: none;
  }
  .main_area .inner h2 {
    font-size: 17px;
  }
  .main_area .inner p {
    font-size: 12px;
  }
  .container {
    overflow: hidden;
    zoom: 1;
    width: 100%;
    margin: 0 auto;
    line-height: 1.6em;
    position: relative;
    padding: 0 0 20px;
  }
  .container .main_content {
    float: none;
    width: 94%;
    margin: 0 auto;
    font-size: 12px;
    /* フォームタイトル */
    /* お支払い方法タイトル */
    /* 数量選択 */
    /* 申し込むフォーム */
    /*個別変更*/
    /* 申し込むフォーム同意 */
    /* 申し込むフォームボタン */
  }
  .container .main_content section {
    margin-bottom: 30px;
  }
  .container .main_content h3 {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  .container .main_content h3.mb10 {
    margin-bottom: 10px;
  }
  .container .main_content h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .container .main_content p {
    margin-bottom: 20px;
  }
  .container .main_content p.image {
    text-align: center;
  }
  .container .main_content p.strong {
    font-weight: bold;
    margin-bottom: 0;
  }
  .container .main_content p .strong {
    font-weight: bold;
  }
  .container .main_content .element_list p {
    margin-bottom: 0;
  }
  .container .main_content .link a {
    display: block;
    border: 1px solid #e7e7e7;
    background: #f8f8f8;
    text-align: center;
    padding: 10px 0;
    font-size: 10px;
  }
  .container .main_content .link a:after {
    content: ">";
    font-size: 18px;
    float: right;
    padding-right: 15px;
    line-height: 1em;
  }
  .container .main_content .link a:hover {
    text-decoration: none;
  }
  .container .main_content ul {
    overflow: hidden;
    zoom: 1;
    width: 100%;
    margin: 0 auto;
  }
  .container .main_content ul li {
    float: none;
    width: 100%;
    margin-bottom: 40px;
  }
  .container .main_content ul li .text {
    padding-right: 0px;
  }
  .container .main_content ul li .text strong {
    font-weight: bold;
    display: block;
  }
  .container .main_content #form_landing {
    width: 100%;
    margin: 15px auto;
    background-color: #ffffff;
    text-align: left;
  }
  .container .main_content h2#form_checkout_title {
    background-color: #f6dbdb;
    border-left: 5px solid #a0131a;
    color: #fffff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 8px 8px 15px;
    margin: 0 0 15px;
  }
  .container .main_content h2#form_payment_title {
    background-color: #f6dbdb;
    border-left: 5px solid #a0131a;
    color: #fffff;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 8px 8px 15px;
    margin: 40px 0 0 0;
  }
  .container .main_content table#product_qty {
    width: 100%;
    height: 100px;
    border-collapse: collapse;
    border: 1px solid #C3C3C3;
    margin: 0 0 30px;
  }
  .container .main_content #product_qty tr {
    border-bottom: 1px solid #C3C3C3;
    line-height: 18px;
    text-align: left;
  }
  .container .main_content #product_qty th {
    padding: 5px;
    border-right: 1px solid #C3C3C3;
    background-color: #eeeeee;
  }
  .container .main_content #product_qty td {
    padding: 5px;
    width: 50%;
  }
  .container .main_content #form_checkout_message {
    width: 100%;
    text-align: left;
  }
  .container .main_content #landing_form {
    width: 100%;
    border-top: 1px solid #C3C3C3;
    border-left: 1px solid #C3C3C3;
    border-right: 1px solid #C3C3C3;
    border-bottom: none;
  }
  .container .main_content .form_box {
    display: block;
    border-bottom: 1px solid #C3C3C3;
  }
  .container .main_content .form_box_label {
    width: 100%;
    padding: 10px 5px;
    border-right: none;
    background-color: #eeeeee;
    box-sizing: border-box;
  }
  .container .main_content .form_box_label span.form_required {
    margin: 0 0 0 5px;
  }
  .container .main_content .form_input_box {
    padding: 8px 5px;
    border-bottom: 1px solid #c3c3c3;
  }
  .container .main_content .form_example {
    padding: 8px 5px;
  }
  .container .main_content .form_input_box p {
    display: inline;
  }
  .container .main_content .form_input_box input, .container .main_content .form_input_box select {
    display: inline;
    border: 1px solid #c3c3c3;
  }
  .container .main_content .form_example p {
    width: 100%;
    box-sizing: border-box;
    font-size: 10px;
  }
  .container .main_content .ureru_efo_family_name,
  .container .main_content .ureru_efo_given_name,
  .container .main_content .ureru_efo_family_kana,
  .container .main_content .ureru_efo_given_kana {
    width: 9em;
  }
  .container .main_content .form_input_box p.form_cap {
    font-size: 12px;
  }
  .container .main_content .credit_box {
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -o-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
  }
  .container .main_content .credit_title {
    font-weight: bold;
    margin: 0 5px 0 0;
  }
  .container .main_content #form_payment_method_select {
    margin: 10px 10px 10px 10px;
    padding-left: 5px;
  }
  .container .main_content input.tel_no {
    width: 4em;
  }
  .container .main_content input#OrderBirthdayYear {
    width: 4em;
  }
  .container .main_content input.zip1 {
    width: 3em;
  }
  .container .main_content input.zip2 {
    width: 4em;
  }
  .container .main_content input.email {
    width: 14em;
  }
  .container .main_content span.form_required {
    color: #a0131a;
  }
  .container .main_content #OrderSex1 {
    margin: 0 0 0 10px;
  }
  .container .main_content #form_payment_method_credit_form table tr th {
    text-align: left;
  }
  .container .main_content #agreement {
    clear: both;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #EEEEEE;
  }
  .container .main_content #agreement .form_notice {
    color: #a0131a;
    font-weight: bold;
  }
  .container .main_content input#form_btn {
    background: url(../images/btn-lp-off.gif) no-repeat 0 0;
    background-size: 100% auto;
    width: 60%;
    height: 0;
    padding-top: 17.18%;
    border: none;
    text-indent: -9999px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  .container .main_content .error-message {
    color: #cc0000;
  }
  .container .main_content #confirm_button_disable {
    margin: 0 auto;
    text-align: center;
    width: 640px;
  }
  .container .main_content #confirm_button_disable img {
    width: 370px;
    height: auto;
  }
  .container .aside_content {
    float: none;
    width: 94%;
    margin: 0 auto 20px;
    position: relative !important;
    top: auto !important;
  }
  .container .aside_content img {
    width: 100%;
  }
  .container .aside_content .course {
    border: 5px solid #006e1d;
  }
  .container .aside_content .course .link-btn {
    width: 94%;
    margin: 0 auto 8px;
  }
  .container .aside_content .course .link-btn a {
    display: block;
    color: #fff;
    font-size: 17px;
    text-align: center;
  }
  .container .aside_content .course .link-btn a:hover {
    text-decoration: none;
  }
  .container .aside_content .bnr {
    margin-top: 9px;
  }
}
