@charset 'UTF-8';

@import "reset";

$base-color: #C9000A;
$hover-color: #F9E920;
$bg-color: #FFF;

/*--------------
	common
--------------*/

body{
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: $bg-color;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

img{
	vertical-align: bottom;
}

.pc_view{
	display: block !important;
}

.sp_view{
	display: none !important;
}


/*--------------
	header
--------------*/

.c_hdr_content{
	.logo{
		text-align: center;
		padding: 10px 0 13px;
	}
}


/*--------------
	contents
--------------*/

.main_area{
	width: 100%;
	height: 300px;
	background: #e4ffe1;

	.inner{
		width: 700px;
		height: 240px;
		margin: 0 auto;
		padding: 60px 0 0 500px;
		background: url(../images/main_img_00.png) no-repeat left center;
		color: #00702d;

		span{
			border: 1px solid #00702d;
			padding: 3px;
		}

		h2{
			font-weight: bold;
			font-size: 24px;
			margin: 13px 0 8px;
			line-height: 1.5em;
		}

		p{
			line-height: 1.5em;
		}
	}
}

/*--------------
	footer
--------------*/



@media screen and ( max-width:1040px) {

}


@media screen and ( max-width:768px) {

}
