@charset 'UTF-8';


$base-color: #C9000A;
$hover-color: #F9E920;
$bg-color: #F9E920;

@import "reset";

/*--------------
	common
--------------*/

body{
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: $bg-color;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

img{
	width: 100%;
	vertical-align: bottom;
}

.pc_view{
	display: block !important;
}

.sp_view{
	display: none !important;
}


/*--------------
	header
--------------*/



/*--------------
	contents
--------------*/


/*--------------
	footer
--------------*/



@media screen and ( max-width:1040px) {

}


@media screen and ( max-width:768px) {

}
