@charset 'UTF-8';

@import "reset";

$base-color: #C9000A;
$hover-color: #F9E920;
$bg-color: #FFF;

/*--------------
	common
--------------*/

body{
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background: $bg-color;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

img{
	vertical-align: bottom;
}

.pc_view{
	display: block !important;
}

.sp_view{
	display: none !important;
}


/*--------------
	header
--------------*/

.c_hdr_content{
	.logo{
		text-align: center;
		padding: 10px 0 13px;
	}
}


/*--------------
	contents
--------------*/

.main_area{
	width: 100%;
	height: 300px;
	background: #ffeff0;
	margin-bottom: 15px;

	.inner{
		width: 700px;
		height: 240px;
		margin: 0 auto;
		padding: 60px 0 0 500px;
		background: url(../images/main_img_00.png) no-repeat left center;
		color: #e9585d;

        span{
            &.border{
                border: 1px solid #e9585d;
                padding: 3px;
            }
        }

		h2{
			font-weight: bold;
			font-size: 24px;
			margin: 13px 0 8px;
			line-height: 1.5em;
		}

		p{
			line-height: 1.5em;
		}
	}
}

.container{
	overflow: hidden;
	zoom: 1;
	width: 1034px;
	margin: 0 auto;
	line-height: 1.6em;
	position: relative;
	padding: 0 0 20px;

	.main_content{
		float: left;
		width: 66.5%;

		section{
			margin-bottom: 30px;
		}

		h3{
			font-weight: bold;
			font-size: 18px;
			margin-top: 5px;
			margin-bottom: 25px;

			&.mb10{
				margin-bottom: 10px;
			}
		}

		h4{
			font-weight: bold;
			margin-bottom: 20px;
		}

		p{
			margin-bottom: 20px;

			&.image{
				text-align: center;
			}

			&.strong{
				font-weight: bold;
				margin-bottom: 0;
			}

            .strong{
                font-weight: bold;
            }
		}

		.element_list{
			p{
				margin-bottom: 0;
			}
		}

		.link{
			a{
				display: block;
				border: 1px solid #e7e7e7;
				background: #f8f8f8;
				text-align: center;
				padding: 10px 0;

				&:after{
					content: ">";
					font-size: 18px;
					float: right;
					padding-right: 15px;
			    line-height: 1em;
				}

				&:hover{
					text-decoration: none;
				}
			}
		}

		ul{
			overflow: hidden;
			zoom: 1;
			width: 92.1%;
			margin: 0 auto;

			li{
				float: left;
				width: 33.3%;

				.text{
					padding-right: 15px;

					strong{
						font-weight: bold;
						display: block;
					}
				}
			}
		}
	}


	.aside_content{
		float: right;
		width: 30%;
        margin-right: 20px;

        img{
            width: 100%;
        }

		.course{

			.link-btn{
				width: 94%;
				margin: -36% auto 0;

				a{
					display: block;
					color: #fff;
					font-size: 17px;
					text-align: center;
					padding: 10px 0;

					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}

	// メールフォームcssコピペ

    #form_landing {
    	width: 640px;
    	margin: 30px auto;
        font-size: 13px;
        line-height: 1.3em;
    	background-color:#ffffff;
    	text-align:left;

        p{
            margin-bottom: 0;
        }
    }

    /* フォームタイトル */
    h2#form_checkout_title {
    	background-color: #f6dbdb;
    	border-left: 5px solid #a0131a;
    	color: #fffff;
    	font-weight:bold;
    	font-size: 16px;
    	padding: 8px 8px 8px 15px;
    	margin: 0 0 15px;
    }

    /* お支払い方法タイトル */
    h2#form_payment_title {
    	background-color: #f6dbdb;
    	border-left: 5px solid #a0131a;
    	color: #fffff;
    	font-weight:bold;
    	font-size: 16px;
    	padding: 8px 8px 8px 15px;
    	margin: 40px 0 0 0;
    }

    /* 数量選択 */
    table#product_qty {
    	width: 640px;
        height: 100px;
        border-collapse: collapse;
        border: 1px solid #C3C3C3;
    	margin: 0 0 30px;
     }

    #product_qty tr {
        border-bottom: 1px solid #C3C3C3;
        line-height: 18px;
    	text-align:left;
     }

    #product_qty th {
        padding: 5px;
        border-right: 1px solid #C3C3C3;
        background-color: #eeeeee;
     }

    #product_qty td {
        padding: 5px;
        width: 550px;
     }

     /* 申し込むフォーム */

     #form_checkout_message {
    	width: 640px;
         text-align: left;
     }

    #landing_form {
    	width: 638px;
        border-top: 1px solid #C3C3C3;
        border-left: 1px solid #C3C3C3;
        border-right: 1px solid #C3C3C3;
        border-bottom: none;
    }

    .form_box{
    	display: -webkit-flexbox;
        display: -moz-flexbox;
        display: -o-flexbox;
    	display: -webkit-box;/*--- Androidブラウザ用 ---*/
        display: -ms-flexbox;/*--- IE10 ---*/
        display: -webkit-flex;/*--- safari（PC）用 ---*/
        display: flex;
        -ms-flex-flow: row;/*--- IE10用 ---*/
        -webkit-flow: row;/*--- safari（PC）用 ---*/
    	flex-flow: row;
    	-webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    	align-items: center; /* 縦方向中央揃え */
        border-bottom: 1px solid #C3C3C3;
    }

    .form_box_label {
    	width:180px;
        padding: 20px 5px;
        border-right: 1px solid #C3C3C3;
        background-color: #eeeeee;
    	-ms-flex-flex-item-align: stretch;/*--- IE10 ---*/
    	-webkit-align-self: stretch;/*--- safari（PC）用 ---*/
    	align-self: stretch;
    }

    .form_box_label span.form_required{
    	margin:0 0 0 5px;
    }

    .form_input_box {
        padding: 15px 5px;
    }

    .form_input_box p,
    .form_input_box input{
    	display:inline;
    }

    .form_example p{
    	width:200px;
    	font-size:10px;
    }


    /*個別変更*/

    .ureru_efo_family_name,
    .ureru_efo_given_name,
    .ureru_efo_family_kana,
    .ureru_efo_given_kana {
      width: 9em;
    }

    .form_input_box p.form_cap{
    	font-size:12px;
    }

    .credit_box{
    	display: -webkit-flexbox;
        display: -moz-flexbox;
        display: -ms-flexbox;
        display: -o-flexbox;
    	display:flex;
    	flex-flow: column wrap;
    }

    .credit_title{
    	font-weight:bold;
    	margin:0 5px 0 0;
    }






    #form_payment_method_select {
        margin: 10px 10px 10px 10px;
        padding-left: 5px;
     }

     input.tel_no {
      width: 4em;
    }

    input#OrderBirthdayYear {
      width: 4em;
    }

    input.zip1 {
      width: 3em;
    }

    input.zip2 {
      width: 4em;
    }

    input.email {
      width: 14em;
    }

    span.form_required {
      color: #a0131a;
    }

    #OrderSex1 {
    	margin: 0 0 0 10px;
    }

    #form_payment_method_credit_form table tr th {
    	text-align:left;
    }


     /* 申し込むフォーム同意 */
    #agreement {
      clear: both;
      width: 620px;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: #EEEEEE;
    }

    #agreement .form_notice {
      color: #a0131a;
      font-weight:bold;
    }

     /* 申し込むフォームボタン */
     input#form_btn {
    	background:url(../images/btn-lp-off.gif) no-repeat 0 0;
        background-size:100% auto;
    	width:60%;
    	height: 0;
        padding-top: 17.18%;
    	border:none;
    	text-indent:-9999px;
    	display:block;
    	margin: 0 auto;
    	cursor:pointer;
    }

    .error-message {
    	color: #cc0000;
    }



    #confirm_button_disable {
    	margin: 0 auto;
    	text-align:center;
    	width: 640px;
    }

    #confirm_button_disable img{
    	width: 370px;
    	height:auto;
    }
}


@media screen and ( max-width:1200px) {

    .main_area{
        width: 100%;
    	height: auto;
    	background: #ffeff0;
    	margin-bottom: 15px;

    	.inner{
    		width: 80%;
    		height: auto;
    		margin: 0 auto;
    		padding: 30px 0 30px 350px;
    		background: url(../images/main_img_00.png) no-repeat left center;
            background-size: contain;
    		color: #e9585d;

    		span{

                &.border{
        			border: 1px solid #e9585d;
        			padding: 3px;
                }

                &.block{
                    display: block;
                }
    		}

    		h2{
    			font-weight: bold;
                font-size: 18px;
    			margin: 13px 0 8px;
    			line-height: 1.5em;
    		}

    		p{
                font-size: 12px;
    			line-height: 1.5em;
    		}
    	}
    }

    .container{
        width: 90%;

        img{
            width: 100%;
        }

        #form_landing {
            width: 100%;
            margin: 15px auto;
            background-color:#ffffff;
            text-align:left;
        }

        /* フォームタイトル */
        h2#form_checkout_title {
            background-color: #f6dbdb;
            border-left: 5px solid #a0131a;
            color: #fffff;
            font-weight:bold;
            font-size: 16px;
            padding: 8px 8px 8px 15px;
            margin: 0 0 15px;
        }

        /* お支払い方法タイトル */
        h2#form_payment_title {
            background-color: #f6dbdb;
            border-left: 5px solid #a0131a;
            color: #fffff;
            font-weight:bold;
            font-size: 16px;
            padding: 8px 8px 8px 15px;
            margin: 40px 0 0 0;
        }

        /* 数量選択 */
        table#product_qty {
            width: 100%;
            height: 100px;
            border-collapse: collapse;
            border: 1px solid #C3C3C3;
            margin: 0 0 30px;
         }

        #product_qty tr {
            border-bottom: 1px solid #C3C3C3;
            line-height: 18px;
            text-align:left;
         }

        #product_qty th {
            padding: 5px;
            border-right: 1px solid #C3C3C3;
            background-color: #eeeeee;
         }

        #product_qty td {
            padding: 5px;
            width: 50%;
         }

         /* 申し込むフォーム */

         #form_checkout_message {
            width: 100%;
             text-align: left;
         }

        #landing_form {
            width: 100%;
            border-top: 1px solid #C3C3C3;
            border-left: 1px solid #C3C3C3;
            border-right: 1px solid #C3C3C3;
            border-bottom: none;
        }

        .form_box{
            display: block;
            border-bottom: 1px solid #C3C3C3;
        }

        .form_box_label {
            width: 100%;
            padding: 10px 5px;
            border-right: none;
            background-color: #eeeeee;
            box-sizing: border-box;
        }

        .form_box_label span.form_required{
            margin:0 0 0 5px;
        }

        .form_input_box {
            padding: 8px 5px;
            border-bottom: 1px solid #c3c3c3;
        }

        .form_example{
            padding: 8px 5px;
        }

        .form_input_box p{
            display:inline;
        }
        .form_input_box input, .form_input_box select{
            display:inline;
            border: 1px solid #c3c3c3;
        }

        .form_example p{
            width: 100%;
            box-sizing: border-box;
            font-size: 10px;
        }


        /*個別変更*/

        .ureru_efo_family_name,
        .ureru_efo_given_name,
        .ureru_efo_family_kana,
        .ureru_efo_given_kana {
          width: 9em;
        }

        .form_input_box p.form_cap{
            font-size:12px;
        }

        .credit_box{
            display: -webkit-flexbox;
            display: -moz-flexbox;
            display: -ms-flexbox;
            display: -o-flexbox;
            display:flex;
            flex-flow: column wrap;
        }

        .credit_title{
            font-weight:bold;
            margin:0 5px 0 0;
        }






        #form_payment_method_select {
            margin: 10px 10px 10px 10px;
            padding-left: 5px;
         }

         input.tel_no {
          width: 4em;
        }

        input#OrderBirthdayYear {
          width: 4em;
        }

        input.zip1 {
          width: 3em;
        }

        input.zip2 {
          width: 4em;
        }

        input.email {
          width: 14em;
        }

        span.form_required {
          color: #a0131a;
        }

        #OrderSex1 {
            margin: 0 0 0 10px;
        }

        #form_payment_method_credit_form table tr th {
            text-align:left;
        }


         /* 申し込むフォーム同意 */
        #agreement {
          clear: both;
          width: 100%;
          box-sizing: border-box;
          margin-top: 20px;
          margin-bottom: 20px;
          background-color: #EEEEEE;
        }

        #agreement .form_notice {
          color: #a0131a;
          font-weight:bold;
        }

         /* 申し込むフォームボタン */
         input#form_btn {
            background:url(../images/btn-lp-off.gif) no-repeat 0 0;
            background-size:100% auto;
            width:60%;
            height: 0;
            padding-top: 17.18%;
            border:none;
            text-indent:-9999px;
            display:block;
            margin: 0 auto;
            cursor:pointer;
        }

        .error-message {
            color: #cc0000;
        }



        #confirm_button_disable {
            margin: 0 auto;
            text-align:center;
            width: 640px;
        }

        #confirm_button_disable img{
            width: 370px;
            height:auto;
        }
    }
}


@media screen and ( max-width:768px) {

    .pc_view{
    	display: none !important;
    }

    .sp_view{
    	display: block !important;
    }

	.main_area{
		height: auto;
		padding: 30px 3%;
		box-sizing: border-box;
		.inner{
			width: 100%;
			height: auto;
    	    margin: 0 auto;
    	    padding: 0;
			background: none;

			h2{
				font-size: 17px;
			}

			p{
				font-size: 12px;
			}
		}
	}

    .container{
    	overflow: hidden;
    	zoom: 1;
    	width: 100%;
    	margin: 0 auto;
    	line-height: 1.6em;
    	position: relative;
    	padding: 0 0 20px;

    	.main_content{
    		float: none;
    		width: 94%;
            margin: 0 auto;
            font-size: 12px;

    		section{
    			margin-bottom: 30px;
    		}

    		h3{
    			font-weight: bold;
    			font-size: 16px;
    			margin-top: 5px;
    			margin-bottom: 25px;

    			&.mb10{
    				margin-bottom: 10px;
    			}
    		}

    		h4{
    			font-weight: bold;
    			margin-bottom: 20px;
    		}

    		p{
    			margin-bottom: 20px;

    			&.image{
    				text-align: center;
    			}

    			&.strong{
    				font-weight: bold;
    				margin-bottom: 0;
    			}

                .strong{
                    font-weight: bold;
                }
    		}

    		.element_list{
    			p{
    				margin-bottom: 0;
    			}
    		}

    		.link{
    			a{
    				display: block;
    				border: 1px solid #e7e7e7;
    				background: #f8f8f8;
    				text-align: center;
    				padding: 10px 0;
                    font-size: 10px;

    				&:after{
    					content: ">";
    					font-size: 18px;
    					float: right;
    					padding-right: 15px;
    			    line-height: 1em;
    				}

    				&:hover{
    					text-decoration: none;
    				}
    			}
    		}

    		ul{
    			overflow: hidden;
    			zoom: 1;
    			width: 100%;
    			margin: 0 auto;

    			li{
    				float: none;
    				width: 100%;
                    margin-bottom: 40px;

    				.text{
    					padding-right: 0px;

    					strong{
    						font-weight: bold;
    						display: block;
    					}
    				}
    			}
    		}

            #form_landing {
            	width: 100%;
            	margin: 15px auto;
            	background-color:#ffffff;
            	text-align:left;
            }

            /* フォームタイトル */
            h2#form_checkout_title {
            	background-color: #f6dbdb;
            	border-left: 5px solid #a0131a;
            	color: #fffff;
            	font-weight:bold;
            	font-size: 16px;
            	padding: 8px 8px 8px 15px;
            	margin: 0 0 15px;
            }

            /* お支払い方法タイトル */
            h2#form_payment_title {
            	background-color: #f6dbdb;
            	border-left: 5px solid #a0131a;
            	color: #fffff;
            	font-weight:bold;
            	font-size: 16px;
            	padding: 8px 8px 8px 15px;
            	margin: 40px 0 0 0;
            }

            /* 数量選択 */
            table#product_qty {
            	width: 100%;
                height: 100px;
                border-collapse: collapse;
                border: 1px solid #C3C3C3;
            	margin: 0 0 30px;
             }

            #product_qty tr {
                border-bottom: 1px solid #C3C3C3;
                line-height: 18px;
            	text-align:left;
             }

            #product_qty th {
                padding: 5px;
                border-right: 1px solid #C3C3C3;
                background-color: #eeeeee;
             }

            #product_qty td {
                padding: 5px;
                width: 50%;
             }

             /* 申し込むフォーム */

             #form_checkout_message {
            	width: 100%;
                 text-align: left;
             }

            #landing_form {
            	width: 100%;
                border-top: 1px solid #C3C3C3;
                border-left: 1px solid #C3C3C3;
                border-right: 1px solid #C3C3C3;
                border-bottom: none;
            }

            .form_box{
                display: block;
                border-bottom: 1px solid #C3C3C3;
            }

            .form_box_label {
            	width: 100%;
                padding: 10px 5px;
                border-right: none;
                background-color: #eeeeee;
                box-sizing: border-box;
            }

            .form_box_label span.form_required{
            	margin:0 0 0 5px;
            }

            .form_input_box {
                padding: 8px 5px;
                border-bottom: 1px solid #c3c3c3;
            }

            .form_example{
                padding: 8px 5px;
            }

            .form_input_box p{
                display:inline;
            }
            .form_input_box input, .form_input_box select{
            	display:inline;
                border: 1px solid #c3c3c3;
            }

            .form_example p{
                width: 100%;
                box-sizing: border-box;
                font-size: 10px;
            }


            /*個別変更*/

            .ureru_efo_family_name,
            .ureru_efo_given_name,
            .ureru_efo_family_kana,
            .ureru_efo_given_kana {
              width: 9em;
            }

            .form_input_box p.form_cap{
            	font-size:12px;
            }

            .credit_box{
            	display: -webkit-flexbox;
                display: -moz-flexbox;
                display: -ms-flexbox;
                display: -o-flexbox;
            	display:flex;
            	flex-flow: column wrap;
            }

            .credit_title{
            	font-weight:bold;
            	margin:0 5px 0 0;
            }






            #form_payment_method_select {
                margin: 10px 10px 10px 10px;
                padding-left: 5px;
             }

             input.tel_no {
              width: 4em;
            }

            input#OrderBirthdayYear {
              width: 4em;
            }

            input.zip1 {
              width: 3em;
            }

            input.zip2 {
              width: 4em;
            }

            input.email {
              width: 14em;
            }

            span.form_required {
              color: #a0131a;
            }

            #OrderSex1 {
            	margin: 0 0 0 10px;
            }

            #form_payment_method_credit_form table tr th {
            	text-align:left;
            }


             /* 申し込むフォーム同意 */
            #agreement {
              clear: both;
              width: 100%;
              box-sizing: border-box;
              padding: 10px;
              margin-top: 20px;
              margin-bottom: 20px;
              background-color: #EEEEEE;
            }

            #agreement .form_notice {
              color: #a0131a;
              font-weight:bold;
            }

             /* 申し込むフォームボタン */
             input#form_btn {
            	background:url(../images/btn-lp-off.gif) no-repeat 0 0;
                background-size:100% auto;
            	width:60%;
            	height: 0;
                padding-top: 17.18%;
            	border:none;
            	text-indent:-9999px;
            	display:block;
            	margin: 0 auto;
            	cursor:pointer;
            }

            .error-message {
            	color: #cc0000;
            }



            #confirm_button_disable {
            	margin: 0 auto;
            	text-align:center;
            	width: 640px;
            }

            #confirm_button_disable img{
            	width: 370px;
            	height:auto;
            }
    	}


    	.aside_content{
    		float: none;
    		width: 94%;
            margin: 0 auto 20px;
            position: relative !important;
            top: auto !important;

            img{
                width: 100%;
            }

    		.course{
                margin-bottom: 16%;

    			.link-btn{
    				width: 90%;
    				margin: -28% auto 0;

    				a{
    					display: block;
    					color: #fff;
    					font-size: 17px;
    					text-align: center;

    					&:hover{
    						text-decoration: none;
    					}
    				}
    			}
    		}

    		.bnr{
    			margin-top: 9px;
    		}
    	}
    }

}
