<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "Locari"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include parts/_head %>

</head>
<body>

<% include parts/_header %>

<div class="wrapper">

  <div class="main_area">
    <div class="inner">
      <span class="border">お試しモニター募集中！</span>
      <h2>クレンジングバームですっぴん美人♡<br>ゴワゴワ乾燥肌からつっぱらないもちもち肌に！</h2>
      <p>毎日スキンケアをしていても、なんだか化粧ノリがぱっとしない…そんなお悩みはメイクの汚れが<br>原因の場合も…。溜まった汚れや皮脂をしっかり洗い落とし、さらにはりのある肌に♡<br>両方を実感できる大人気のクレンジングバーム！今ならお手軽に試せます！</p>
    </div>
  </div>

  <div class="container">

    <div class="aside_content">
        <div class="course">
          <p class="pc_view"><img src="./assets/images/lnav_img_01.png" alt=""></p>
          <p class="sp_view"><img src="./assets/images/sp_lnav_img_01.png" alt=""></p>
          <div class="link-btn">
            <a href="#">
              <img src="./assets/images/lnav_img_02.png" alt="今すぐお得に試す！">
            </a>
          </div>
        </div>
    </div>

    <div class="main_content">

      <section>
        <h3>スキンケアに本当に必要なものは「クレンジング」</h3>
        <p class="image"><img src="./assets/images/main_img_01.png" alt=""></p>
      </section>

      <section>
        <h4>なんと150万個売れた "D.U.O. ザ クレンジングバーム"で内側から美肌に！</h4>
        <p>毛穴の汚れや皮脂のせいで、メイクがなぜかパッとしない…。<br>だからこそ、メイクもしっかり落としながら、肌に美容成分を与えるのがクレンジングバームです♡</p>
        <p class="image"><img src="./assets/images/main_img_02.png" alt=""></p>
        <h4>これ1つで5役♡さらに３つの特徴で楽してキレイになれる！</h4>
        <p>一度使ったらやめらなれないのがクレンジングバーム。「クレンジング」「洗顔」「角質ケア」「マッサージ」「トリートメント」の機能がこの中に。</p>
        <p>さらに「W洗顔不要」「31種類の美容成分」「無添加仕立て」。500円とは思えない魅力がたっぷりと詰まっています。</p>
        <div class="link">
          <a href="#">あなたも美肌の魔法にかかる？すぐにお試しできます♡</a>
        </div>
      </section>

      <section>
        <h3>汚れは落としても肌に必要な油分と水分は落とさない</h3>
        <h4>落とすだけじゃない！美容液成分をプラスしたポジティブクレンジングが大切♡</h4>
        <p>あたりまでだと持っている「さっぱりクレンジング」肌に大切なうるおいまで洗い流していませんか？洗うたびに肌環境がマイナスになり、せっかくの美容液の効果が無駄に…。</p>
        <p class="image"><img src="./assets/images/main_img_03.png" alt=""></p>
      </section>

      <section>
        <h3>３つの美容効果をもたらす「毛穴クリアカプセル」♡</h3>
        <p>クレンジングバームには独自の「毛穴クリアカプセル」がはいっています。肌に優しい成分がしっかりよごれを落としながら、栄養を与え、さらに角質までケア！</p>
        <h4>POINT１　落としすぎない</h4>
        <p>肌に刺激がすくない、やさしい洗浄成分がメイクや毛穴の汚れをうかせて落とします</p>
        <h4>POINT２　肌に栄養をあたえる</h4>
        <p>ナノコラーゲン、ナノヒアルロン酸、ナノセラミドの3大美容成分をはじめ、保湿とエイジングケアに最適な天然植物エキスとビタミンC、Eを高配合。贅沢な31種類のエイジングケア成分が入っています。</p>
        <h4>POINT3　透明感のある肌へ</h4>
        <p>毛穴クリアカプセルのカプセルは伸縮性に優れソフトスクラブ効果をはっき。毛穴の奥の汚れや古い角質をやさしく取り除き、透明感のある肌へ導きます。</p>
        <p class="image"><img src="./assets/images/main_img_04.png" alt=""></p>
        <p>もちろん、肌にやさしい無添加仕立て、ハリ・ツヤあふれる若々しいすっぴん美人へあなたを導きます。</p>
        <div class="link">
          <a href="#">シルクみたいなスルスルの肌に♡お得にお試しできます</a>
        </div>
      </section>

      <section>
        <h3>D.U.O.の実力の効果は？</h3>
        <p>べっとりとついた口紅が、少量のバームでとろとろに広がり、くすみや汚れを落とします。透明感あふれるもちもち肌に。…。</p>
        <p class="image"><img src="./assets/images/main_img_05.png" alt=""></p>
        <p>ずっと触っていたくなるような肌に、すっぴんに自信がつくこと間違いなし。</p>
        <div class="link">
          <a href="#">この効果！お試しあれ！</a>
        </div>
      </section>

      <section>
        <h3>クレンジングでポジティブに変身！</h3>
        <h4>美容液で洗っているかのような感覚。門多初恵さん（30歳）</h4>
        <p>もともと敏感肌で自分の肌にあうクレンジングを色々試して探していたところ、たまたまある読者モデルの方のブログでD.U.O.のクレンジングを知りました。<br>興味本位で注文してみたところ<span class="strong">口コミ以上の効果をすぐに実感。</span><br>今までのクレンジングにないクリームでもなくオイルでもなくジェルでもない形状ですが洗っている間は美容液で洗っているかのような感覚、でも<span class="strong">汚れはしっかり落ちて</span>いて、<span class="strong">洗い上がりもしっとり、</span>でも次の化粧水や美容液を邪魔しない状態に肌をリセットしてくれます。<br>すぐに貴社への信頼が高まりラインで商品を注文しました。<br>美容液、化粧水も加えラインで使うようになってから<span class="strong">肌が安定、仕事で夜遅い日が続いても荒れにくくなりました。</span>また毛穴が目立ちにくくなり、乾燥もなくなって肌にハリがでたような気がします。</p>
        <p class="image"><img src="./assets/images/main_img_06.png" alt=""></p>
      </section>

      <section>
        <h3>ながらクレンジングOK♡やさしくマッサージするようにオフ</h3>
        <ul>
          <li>
            <p class="image"><img src="./assets/images/main_img_07_01.png" alt=""></p>
            <p class="text">クレンジングバームをスプーン１杯分、乾いた手にのせます。</p>
          </li>
          <li>
            <p class="image"><img src="./assets/images/main_img_07_02.png" alt=""></p>
            <p class="text">やさしくお顔に馴染ませます。バームは垂れてこないので、ＴＶを見ながらでもご使用いただけます。</p>
          </li>
          <li>
            <p class="image"><img src="./assets/images/main_img_07_03.png" alt=""></p>
            <p class="text">ぬるま湯で30秒程度、ゆっくりと洗い流します。</p>
          </li>
        </ul>
      </section>

      <section>
        <h3>初回お試しモニター募集中</h3>
        <p>お試しサイズ 7日分（20g）が、送料無料で（税別）500円で購入できます。今ならサンプルセットもついています。</p>
        <p class="image"><img src="./assets/images/main_img_08.png" alt=""></p>
      </section>

      <% include parts/_mailForm %>

    </div><!-- /.main_content -->

  </div><!-- /.container -->
</div><!-- /.wrapper -->

</body>
</html>
