<!DOCTYPE html>
<html lang="ja">
<head>

<% var title = "クレンジング酵素0"; %>
<% var keywords = ""; %>
<% var description = ""; %>
<% include parts/_head %>

</head>
<body>

<% include parts/_header %>

<div class="wrapper">

  <div class="main_area">
    <div class="inner">
      <span class="border">今ならお得な初回限定100円コースも</span>
      <h2>手グレープ味で飲みやすいから挫折しない♡<br>モデルプロデュース♡話題の酵素で綺麗にスッキリ！</h2>
      <p>もはや定番となった酵素ダイエット。</span><span class="block">苦くて甘いなんていうイメージもありますが、</span><span class="block">グレープ味でおいしい酵素が登場。</span><span class="block">美容効果もあるので、</span><span class="block">流行に敏感な女子の間で話題に！</span><span class="block">綺麗にスッキリが合言葉です♡</p>
    </div>
  </div>

  <div class="container">

    <div class="aside_content">
        <div class="course">
          <p class="pc_view"><img src="./assets/images/lnav_img_01.png" alt=""></p>
          <p class="sp_view"><img src="./assets/images/sp_lnav_img_01.png" alt=""></p>
          <div class="link-btn">
            <a href="#">
              初回限定価格で始める！
            </a>
          </div>
        </div>
    </div>

    <div class="main_content">

      <section>
        <h3>GIRL'S BLOGGER STYLE 2016で紹介された今注目の酵素ドリンク！</h3>
        <p class="image"><img src="./assets/images/main_img_01.jpg" alt=""></p>
        <p>大人気「CUTE MEシリーズ」の酵素ドリンクとして美容・流行に敏感な女子たちの間で話題のクレンジング酵素０。GIRL'S BLOGGER STYLE 2016では、姉ageha専属モデルでカリスマブロガーのゆんころがプロデューサーとして「おいしい」と自信を持ってすすめていました。</p>
        <div class="link">
          <a href="#">注目の酵素ドリンク♡お得にお試しできます</a>
        </div>
      </section>

      <section>
        <h3>短期集中で定番の酵素ダイエット！1日にどのくらい必要？</h3>
        <p>不足すると痩せにくい身体になってしまう「酵素」。痩せにくい体質によってどんどん脂肪が増えていきます。そうなると身体のシルエットも崩れて、運動してもなかなか元に戻せません。<br>「ジムに通っても全然実感しない！」「間食してないのに太る」「ヤセても、すぐに元通り！」「食生活を乱すと体がどんより」という人は酵素不足が原因かも。</p>
        <p class="image"><img src="./assets/images/main_img_02.jpg" alt=""></p>
        <h4>本当に必要な１日分の酵素量はなんと生野菜を350g！</h4>
        <p>では、どのくらいの野菜を食事摂らなければならないのか。野菜は加熱調理してしまうと“酵素の力”がなくなってしまうので、常に生で食べ続けなければいけません…。生野菜をこれだけ毎日食べる…。これは続かないですよね。</p>
        <p class="image"><img src="./assets/images/main_img_03.jpg" alt=""></p>
        <h4>続けられる酵素ダイエット。たった２週間で97%が満足と答えた！クレンジング酵素０</h4>
        <p>生野菜で摂るのは難しい。だから、すぐに実感できる「クレンジング酵素０」飲みやすいから挫折しないダイエットです。</p>
        <p class="image"><img src="./assets/images/main_img_04.jpg" alt=""></p>
        <div class="link">
          <a href="#">97%が満足の酵素ドリンク♡今ならお得な100円コースも</a>
        </div>
      </section>

      <section>
        <h3>64種類の野菜を30倍濃縮しました</h3>
        <p>クレンジング酵素０は14種類のフルーツを含む64種類の野草発酵酵素が含まれています。野草酵素とは、「山に自生するエネルギーの高い野草や野菜や果物、キノコ、海藻」などのことです。たくさんの自然の恵みを本場中国の「陶製かめ製法」でしっかり熟成して、体の内側からキレイにしてスッキリを実感♡</p>
        <p class="image"><img src="./assets/images/main_img_05.jpg" alt=""></p>
        <h4>ダイエットの効率をアップ♡新成分「白金ナノコロイド」</h4>
        <p>クレンジング酵素０の特徴の一つが東京大学で発見された「白金ナノコロイド」。運動した際にエネルギー消費を向上する働きがあります。運動をしながら白金ナノコロイドが含まれたドリンクを飲むと、スッキリを、いち早く実感できます！</p>
        <p class="image"><img src="./assets/images/main_img_06.jpg" alt=""></p>
        <div class="link">
          <a href="#">２週間で驚きの実感！美味しく飲めるから続けられる♡</a>
        </div>
      </section>

      <section>
        <h3>注目される理由！ココがスゴい♡クレンジング酵素0</h3>
        <h4>飲みやすくておいしいから続けられる♡</h4>
        <p>グレープ味でとても飲みやすい酵素。ブドウ種子ポリフェノールがが酵素が持つ「苦味や酸味」をなくして、ほんのりとまろやまかな甘みを出してくれます。</p>
        <h4 class="mb0">豊富な６４種類の野草発酵酵素</h4>
        <p>酵素不足を解消してすっきりキレイに！</p>
        <p class="image"><img src="./assets/images/main_img_07.jpg" alt=""></p>
        <h4>コラーゲンに働きかける高級食材「ツバメの巣」</h4>
        <p>海外ではパーフェクトフートと呼ばれモデル業界で今最も注目されている高級美容成分<br>その美容効果はローヤルゼリーの約200倍！！</p>
        <p>ツバメの巣はクレンジング酵素０に含まれている「ヒアルロン酸」と「コラーゲン」とコラボして美容に相乗効果をもたらします。</p>
        <p class="image"><img src="./assets/images/main_img_08.jpg" alt=""></p>
      </section>

      <section>
        <h4>それだけじゃない！たっぷり美容成分が配合！</h4>
        <ul>
          <li>
            <p class="image"><img src="./assets/images/main_img_09_01.jpg" alt=""></p>
            <p class="text">
              ハリのある毎日に<strong>ヒアルロン酸</strong>
            </p>
          </li>
          <li>
            <p class="image"><img src="./assets/images/main_img_09_02.jpg" alt=""></p>
            <p class="text">
              若々しい美容に<strong>コラーゲン</strong>
            </p>
          </li>
          <li>
            <p class="image"><img src="./assets/images/main_img_09_03.jpg" alt=""></p>
            <p class="text">
              健康的な美容づくりに<strong>馬プラセンタ</strong>
            </p>
          </li>
        </ul>
      </section>

      <section>
        <h4 class="mb0">分包タイプで持ち運びに便利</h4>
        <p>瓶タイプはもう古い！個別包装なので衛生的に持ち歩けます。会社に、友達との食事に、彼氏とのデートに。見た目のデザインもこだわっているので、雰囲気のいいレストランの食前にも使えます。</p>
        <p class="image"><img src="./assets/images/main_img_10.jpg" alt=""></p>
        <div class="link">
          <a href="#">２週間で驚きの実感！美味しく飲めるから続けられる♡</a>
        </div>
      </section>

      <section>
        <h3>おすすめアレンジレシピ</h3>
        <h4 class="mb10">クレンジング酵素０をスムージーにトッピング</h4>
        <p class="image"><img src="./assets/images/main_img_11.jpg" alt=""></p>
        <p>クレンジング酵素０（２包）／ブルーベリー（冷凍OK）50g／キウイフルーツ２分の１／プレーンヨーグルト50g／はちみつお好みで</p>
        <h4 class="mb10">クレンジング酵素０をヨーグルトにトッピング</h4>
        <p class="image"><img src="./assets/images/main_img_12.jpg" alt=""></p>
        <p>クレンジング酵素０（２包）／いちご３粒／ヨーグルト150g／はちみつ小さじ２</p>
        <h4 class="mb10">一番のオススメは、炭酸で割るシャンパン風の飲み方</h4>
        <p class="image"><img src="./assets/images/main_img_13.jpg" alt=""></p>
      </section>

      <section>
        <h3>今なら初回限定100円コースもあります。</h3>
        <p>今なら、初回のみ10日分10包入り100円（税込）のコースがあります。<br>さらに２回目以降が36％OFFの5,378円（税込）でお届け。２個セットコースだと48%OFFに！<br>お得にクレンジング酵素０が試せます。</p>
      </section>

    </div><!-- /.main_content -->

    <% include parts/_mailForm %>

  </div><!-- /.container -->

</div><!-- /.wrapper -->

</body>
</html>
